<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test thread-count="2" parallel="classes" name="TestRunner-1">
    <classes>
      <class name="com.TestNg.HardAssertionTest"/>
      <class name="com.TestNg.ExecutionOrderTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" parallel="classes" name="TestRunner-2">
    <classes>
      <class name="com.TestNg.HardAssertionTest"/>
      <class name="com.TestNg.ExecutionOrderTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
